/*the logo font is museo 700, font color is #FEB914 and the logo background color is #4C4442*/

html {
	height: 100%;
}

body {
 	background-color: #fff;
	color: #777;
	font-family: monospace;
	height: 100%;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

h1 {
	color:white;
	font-size: 45px;
}

h2 {
	font-weight: 300;
	color: white;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h5 {
	font-size: 15px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #FEB914;
}

strong {
	font-weight: bold;
}

small {
	font-size: 13px;
	color: #777;
	font-style: italic;
}

.clear {
	clear: both;
}

.wrapper-main {
	margin: 0 auto;
	width: 100%;
	position: fixed;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

#home {
	height: 100%;
	background-image: url('../img/pi1.gif');
	background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    position: relative;
}

#home-text {
	text-align: center;
	display: table;
    margin: 0 auto;
    padding-top: 5%;
}

#home .make-opacity {
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

/* HEADER ----------- */

header {
	height: 190px;
}

header a {
	float: left;
	margin-top: 32px;
	margin-left: 32px;
}

header nav {
	float: right;
	margin-right: 28px;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 26px;
}

header nav ul li a {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}


#slogan-text {
	color: white;
	text-align: center;
	font-size: 20px;
	display: inline;
}

@media (max-width: 750px){
	header nav ul li {
		display: none;
	}
	.wrapper-main {
		position: relative;
	}
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 40px;
	}
}

@media (max-height: 500px){
	#home-text {
	    padding-top: 0%;
	}
}

/* PORTFOLIO PAGE -------- */

#portfolio {
	height: 100%;
	background-color: black;
	background-image: url('../img/pi2.gif');
	background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;

}

#portfolio h3 {
	padding-top: 10%;
}

#portfolio a {
	color: white;
}

#portfolio .get-grey {
	color: #808080;
	font-size: 20px;
}

#portfolio a:hover {
	color: #FEB914;
}

#portfolio .portfolio-text {
	line-height: 1.6;
	padding-left: 2%;
	padding-right: 3%;
}

#portfolio p {
	color: #cccccc;
	font-size: 15px;
}

#portfolio .make-opacity {
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}

#portfolio ul li {
	display: inline-block;
}

#portfolio ul {
	text-align: center;
}

@media (max-width: 750px){
	#portfolio p {
		font-size: 10px;
	}
	#portfolio .get-grey {
		font-size: 10px;
	}
}

@media (max-height: 500px){
	#portfolio h3 {
		padding-top: 10%;
	}
}

/* RESUME PAGE ------------- */

#resume-download {
	height: 100%;
	background-color: black;
	background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}

#resume-download .resume-text {
	text-align: center;
	display: table;
    margin: 0 auto;
    padding-top: 20%;
    color: white;
}

@media (max-width: 750px){
	.resume-text a {
		color: #FEB914;
	}
}

@media (max-height: 500px){
	#resume-download .resume-text {
		padding-top: 30%;
	}
}

/* FOR TYPED.js FUNCTIONALITY -------- */


.typed-cursor{
	font-size: 20px;
	color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}